extends layout 

block content 
    h1=title 

    ul 
        each author in all_authors 
            li 
                a(href=author.url) #{author.name} 
                | (#{author.lifespan})

        else 
            li There are currently no authors.